.products {
    width: 80%;
    min-width: 750px;
    margin: 0 auto;
    background-color: cornsilk;
}

.products__title {
    text-align: center;
}

.products__footer {
    width: 80%;
    min-width: 750px;
    margin: 0 auto;
    background-color: cornsilk;
    height: 100px;
}