.goods {
    width: 80%;
    min-width: 750px;
    margin: 0 auto;
}

.goods__id {
    text-align: center;
    font-size: 14pt;
    background-color: blanchedalmond;
    max-width: 440px;
    min-width: 150px;
}

.goods__name {
    text-align: center;
    font-size: 14pt;
    background-color: azure;
    max-width: 440px;
    min-width: 250px;
}

.goods__price {
    text-align: center;
    font-size: 14pt;
    background-color: blanchedalmond;
    max-width: 440px;
    min-width: 150px;
}

.goods__amount {
    text-align: center;
    font-size: 14pt;
    background-color: azure;
    max-width: 440px;
    min-width: 100px;
}

.goods__summary {
    text-align: center;
    font-size: 14pt;
    background-color: blanchedalmond;
    max-width: 440px;
    min-width: 100px;
}